html, body {
  scrollbar-color: #AFAFAF #fff;     /* «цвет ползунка» «цвет полосы скроллбара» */
  scrollbar-width: none;  /* толщина */
}

.body {
  margin: 10px;
}

//scroll
::-webkit-scrollbar {
  width: 5px;
  height: 2px;
  background-color: #fff;
}

::-webkit-scrollbar-thumb {
  background-color: #AFAFAF;
  border-radius: 10px;
  box-shadow: inset 1px 1px 5px #f3faf7;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #9E9E9E;
}

//elements

.icons-default {
  width: 55px;
  height: 55px;
}

.topline__container {
  display: flex;
  justify-content: space-between;
}

.users {
  display: flex;
  justify-content: space-between;
}

.feed-container {
  display: flex;
  justify-content: center;
}

.feed {
  display: flex;
  flex-direction: column;
  width: 80%;
}

.post__title {
  font-size: 26px;
  margin-bottom: 15px;
  line-height: 1;
}

.post__buttons {
  margin-top: 33px;
}


// postButtons.vue
.c-post-buttons {
  display: inline-flex;
  border: 1px solid rgba(27, 31, 35, 0.15);
  border-radius: 6px;
  overflow: hidden;
}

.post-button {
  display: flex;
  width: 72px;
  align-items: center;
  justify-content: center;
  background: #FAFBFC;
  cursor: url("../src/assets/a-pointer.png"), auto;
  color: #24292E;
  border-right: 1px solid rgba(27, 31, 35, 0.15);
}

.icon-star, .icon-fork {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #586069;
  margin-right: 5px;
}

.icon-star {
  width: 15px;
  height: 15px;
}

.icon-fork {
  width: 12px;
  height: 12px;
}

.post-stars {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2px 12px;
  border-right: 1px solid rgba(27, 31, 35, 0.15);
  color: #24292E;
}

.post-forks {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2px 12px;
  color: #24292E;
}

// slide.vue

.background--dark {
  display: flex;
  align-items: center;
  justify-content: center;
  background: #292929;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.slide p {
  margin: 1em 0;
}

